html, body {
  color: #242424;
  background-color: #F4F4F4; /*old, whiter color -- #FFFEFF*/
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body { 
  padding-top: 132px; 
  } /* to account for navbar */

  h1 {
    opacity: 0.5;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    letter-spacing: -4px;
    float: left;
    color: #DB0000;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: lighter;
    margin: 0;
    line-height: 84.3px;
  }
  .default-header-height {
    min-height: 84.3px;
  }
  div.social {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    display: none;
  }
  div.burgermonochrome>.link-text>a {
    display: none;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .link-text {
    display: inline;
  }
  .fa {
    color: hsl(0, 0%, 47%);
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
  }
  .fa:hover {
    color: #DB0000;

  }
  .thumb {
    margin-bottom: 30px;
  }
  .thumbnail {
    background-color: #D2D2D2;
    opacity: 0.85;
  }
  .thumbnail:hover {
    opacity: 0.5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  #success_message { 
    display: none;
    }  /* hides contact form submit message until it is submitted*/
    footer {
      margin: 50px 0;
      text-align: center;
    }

    .col-centered{
      float: none;
      margin: 0 auto;
    }
    .grid-item {
      width: 200px; 
    }
    .grid-item--width2 { 
      width: 400px; 
    }
    #bs-example-navbar-collapse-1 {
      clear: both;
    } 




    @media only screen and (min-width : 768px) {

      .collapse, .navbar-collapse, ul.navbar-nav>li {
        display: none;
      }
      /* **-***--* Hamburger Menu Styles ****--**** */
      .burger-outer {
        position: relative;
      }
      .link-text {
        display: none;
        color: #000000;
        text-align: justify;
        font-family: "open sans", sans-serif;
      }
      a, a:visited {
        text-decoration: none;
        color: #000000;
      }
      .link-text:hover, .link-text.textmonochrome:hover, a:hover {
        color:  #DB0000 !important;
        text-decoration: none;
      }
      #topbun {
        position: fixed;
        height: 21px;
        width: 75px;
        top: 6.5px; 
        background:  hsl(0, 0%, 47%);
        border-top-left-radius:100px;
        border-top-right-radius:100px;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        color: #fff;
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
        opacity: 0.75;
      }
      #topbun-text {
        /*display:none;*/
        position: fixed;
        top: 33.5px; 
        color: #fff;
        text-align: center;
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
      }
      #cheese {
        position: fixed;
        height: 2px;
        width: 75px;
        top: 29.5px;
        background:  hsl(0, 0%, 47%);
        color: #fff;
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
        opacity: 0.75;
      }
      #cheese-text {
        /*display:none;*/
        position: fixed;
        top: 64.5px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
      }
      #meat {
        position: fixed;
        height: 10px;
        width: 75px;
        top: 33.75px;
        border-radius: 40px;
        background:  hsl(0, 0%, 47%);
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
        opacity: 0.75;
      }
      #meat-text {
        /*display:none;*/
        position: fixed;
        top: 101.75px;
        text-align: center;
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
      }
      #cheese2 {
        position: fixed;
        height: 2px;
        width: 75px;
        top: 46px;
        background:  hsl(0, 0%, 47%);
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
        opacity: 0.75;
        margin-bottom: 0;
      }
      #cheese2-text {
        /*display:none;*/
        position: fixed;
        top: 130px;
        text-align: center;
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
        margin-bottom: 0;
      }
      #meat2 {
        position: fixed;
        height: 10px;
        width: 75px;
        top: 49.5px;
        background:  hsl(0, 0%, 47%);
        border-radius: 40px;
        color: #fff;
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
        opacity: 0.75;
      }
      #meat2-text {
        /*display:none;*/
        position: fixed;
        top: 166.5px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
      }
      #bottombun {
        position: fixed;
        height: 12px;
        width: 75px;
        top: 62px;
        background:  hsl(0, 0%, 47%);
        border-bottom-left-radius:30px;
        border-bottom-right-radius:30px;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        color: #fff;
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
        opacity: 0.75;
      }
      .top-hover {
       -webkit-transform: scale(1.1) !important;
       transform: scale(1.1) !important;
       opacity: 1 !important;
       background: #D27B47 !important;
     }
     .cheese-hover {
      -webkit-transform: scale(1.1) !important;
      transform: scale(1.1) !important;
      opacity: 1 !important;
      background: #FEDE5E !important;
    }
    .meat-hover {
      -webkit-transform: scale(1.1) !important;
      transform: scale(1.1) !important;
      opacity: 1 !important;
      background: #FF4182 !important;
    }
    .bottom-hover {
     -webkit-transform: scale(1.1) !important;
     transform: scale(1.1) !important;
     opacity: 1 !important;
     background-color: #D27B47 !important;
   }
   .top-clicked {
     -webkit-transform: scale(1.1) !important;
     transform: scale(1.1) !important;
     opacity: 1 !important;
   }
   .cheese-clicked {
    top: 61px !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    opacity: 1 !important;
  }
  .meat-clicked {
    top: 88px !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    opacity: 1 !important;
  }
  .cheese2-clicked {
    top: 126px !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    opacity: 1 !important;
  }
  .meat2-clicked {
    top: 152px !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    opacity: 1 !important;
  }
  .bottom-clicked {
    top: 191px !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -webkit-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    opacity: 1 !important;
  }
  .navbar-expand {
    min-height: 225px !important;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  /****** RULES FOR SCROLL RESIZING **********/
  .top-scroll {
   -webkit-transform: scale(0.5) !important;
   transform: scale(0.5) !important;
   opacity: 1 !important;
   top: 3.5px !important;
 }
 .cheese-scroll {
  -webkit-transform: scale(0.5) !important;
  transform: scale(0.5) !important;
  opacity: 1 !important;
  top: 20.5px !important;
  height:3px;
}
.meat-scroll {
  -webkit-transform: scale(0.5) !important;
  transform: scale(0.5) !important;
  opacity: 1 !important;
  top: 21.5px !important;
}
.cheese2-scroll {
  -webkit-transform: scale(0.5) !important;
  transform: scale(0.5) !important;
  opacity: 1 !important;
  top: 31px !important;
  height:3px;
}
.meat2-scroll {
  -webkit-transform: scale(0.5) !important;
  transform: scale(0.5) !important;
  opacity: 1 !important;
  top: 32px !important;
}
.bottom-scroll {
 -webkit-transform: scale(0.5) !important;
 transform: scale(0.5) !important;
 opacity: 1 !important;
 top: 38.25px !important;
}
/*  ****  END RULES FOR SCROLL RESIZING   **********/

.monochrome {
  background: #000015 !important;
  color: #B5B5B5 !important;
}
.burgermonochrome {
  background: #B5B5B5;
  color:  #B5B5B5;
}
.textmonochrome {
  color: #898989 !important;
}
} 
/* close media query for min-width 768px */

